.header {
    min-height: 68px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

@media (max-width: 1200px) {
    .header {
        min-height: 60px;
        padding-bottom: 0;
        top: 26px;
    }
}

@media (max-width: 440px) {
    .header {
        min-height: 30px;
        top: 15px;
    }
}