.present {
    margin: 0 auto;
    padding-top: 228px;
    padding-bottom: 120px;
    background: url("../../img/Background.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
}

.present__title {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    color: var(--text-color, rgba(255, 255, 255, 0.86));
    margin-bottom: 32px;
}

.present__text {
    max-width: 960px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    color: var(--text-color, rgba(255, 255, 255, 0.86));
    margin-bottom: 90px;
}

@media (max-width: 1200px) {
    .present {
        padding: 156px 0 70px 0;
    }
    .present__title {
        max-width: 780px;
        margin: 0 auto;
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 28px;
    }
    .present__text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 57px;
        max-width: 771px;
    }
}

@media (max-width: 1024px) {
    .present {
        background: url("../../img/Background_media.jpg") no-repeat;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .present {
        padding: 150px 0 65px 0;
    }
    .present__title {
        font-size: 32px;
        line-height: 36px;
    }
    .present__text {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 576px) {
    .present__title {
        font-size: 28px;
        line-height: 32px;
    }
    .present__text {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width: 440px) {
    .present {
        padding: 110px 0 65px 0;
    }
    .present__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 26px;
    }
    .present__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 55px;
        height: 77px;
        overflow: hidden;
        padding-left: 0;
    }
}

@media (max-width: 320px) {
    .present {
        background: url("../../img/Background_small.jpg") no-repeat;
        background-size: 320px auto;
    }
}